body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    height: 100vh;
    background-color: #212121;
    display: flex;
    flex-direction: column;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 64px;
    background-color: #111111;
    color: white;
}

#header-text {
    margin: 0;
    font-size: 24px;
}



#page-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-row-container {
    display: flex;
}

.grid-square {
    background-color: #BBBBBB;
    border: 1px solid black;
    transition: background-color ease-out 0.5s;
}

.grid-square:hover {
    transition: background-color 0s;
}

#footer {

    background-color: #111111;
}

#github-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#footer-text {
    color: white;
    padding: 10px;
    margin: 0;
    font-weight: 500;
}

#github-logo {
    width: 25px;
    height: 25px;
}